
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My applications</title>
</head>
<body>

{% include "navbar_applicant.html" %}
<h1>Manage All Applications</h1>
<div class="jumbotron text-center">
      <div class="container">
          <h3><a id = "vol_app" href={% url "applicant:my-volunteer-apps" %}>View my Volunteer applications</a></h3>
          <br>
          <h3><a id = "college_app"href={% url "applicant:my-college-apps" %}>View my College applications</a></h3>
          <br>
          <h3><a id="scholar_app" href={% url "applicant:my-scholarship-apps" %}>View my Scholarship applications</a></h3>
          <br>
          <h3><a id="intern_app" href={% url "applicant:my-internship-apps" %}>View my Internship applications</a></h3>
      </div>
</div>

</body>
</html>