<!--views.ScholarshipApplicationDetailView uses this template-->

{% extends "application/base/application_detail.html" %}

{% load static %}

{% block extra_fields %}
    <br>
    What is a struggle you have recently overcome or are dealing with now? What steps did you
                       take/are you taking to handle this issue?: {{ application.prompt1 }}
    <br>
    Are you involved in any activities in school or in your community? If so, please describe them
                       and what your role in them looks like.: {{ application.prompt2 }}
    <br>
{% endblock %}
{% block go_back_url %}{% url "applicant:my-scholarship-apps" %}{% endblock %}
{% block go_back_link_text %}Go back to my applications{% endblock %}