<!--views.LoginView uses this template-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | Impact on Education</title>
</head>
<body>
{% include "navbar_logged_out.html" %}
<div class="jumbotron text-center">
  <h2 id="login">Log In</h2>

<form id="login_fields" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button id ="login_submit" type="submit">Log In</button>
</form>
    <br>
    <h3>Don't Have An Account?</h3>
<h3 > <a id="create_account" href={% url "accounts:register" %}>Create Account</a></h3>

</div>

<h3>(For testing) You can log in as any of these users, or create one:</h3>
username: test_applicant, password: blueprinttesting
<br>
username: test_volunteer, password: blueprinttesting
<br>
username: test_org_admin, password: blueprinttesting
<br>
username: test_site_admin, password: blueprinttesting
</body>
</html>
