<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Academic Opportunity Fund</title>
</head>
<body>
<h1>2021-2022 Academic Opportunity Fund</h1>
<p>Round Three applications are due November 7th</p>
<p>Round Two applications are current under review with funding award notifications expected by October 29th</p>

<!--Fix the for part of form and find out how to make things required-->
<div class = "fieldWrapper">
    <label for = "email" >Email:</label>
    <input type="text" id="email" name= "email">
    <br>
    <label for = "name" >Enter Your Name:</label>
    <input type="text" id="name" name= "name">
    <br>
    <label for = "school" >Enter School Name:</label>
    <input type="text" id="school" name= "email">
    <br>
    <br>
    <p>What is your role in your BVSD school?</p>
    <input type="checkbox" id="role1" name="role1" value="Principal">
    <label for="role1"> Principal</label><br>
    <input type="checkbox" id="role2" name="role2" value="Principal's Assistant or Main Office Mgr">
    <label for="role2">Principal's Assistant or Main Office Mgr</label><br>
    <input type="checkbox" id="role3" name="role3" value="Assistant Principal">
    <label for="role3">Assistant Principal</label><br>
    <input type="checkbox" id="role4" name="role4" value="Educator">
    <label for="role4">Educator</label><br>
    <!-- Figure out how to do the other option -->
    <input type="checkbox" id="other" name="other" value="other">
    <label for="other">Other: </label><br>

    <label for="other_text_answer">If you answered "Educator" or "Other" in the previous question, what department and/or grade level are you a member of?</label>
    <input type="text" id="other_text_answer" name= "other_answer"> <br>

    <p>If you answered "Educator" or "Other" in the previous question, have you confirmed viability and usability of your request with your supervisor or principal?</p>
    <input type="radio" id="yes1">
    <label for="yes1">Yes</label> <br>
    <input type="radio" id="no1">
    <label for ="no1">No</label>

    <!-- need to fix the link so that it actually goes somewhere -->
    <p>If your student(s) need involves emergency services, such as food, housing, clothing, or health, have you already reviewed the English Community Resources document here: https://www.bvsd.org/parents-students/student-help/mckinney-vento/community-resources? And, if appropriate, have you reached out to the most aligned organizations on that document? *</p>
    <input type="radio" id="yes2">
    <label for="yes2">Yes</label> <br>
    <input type="radio" id="no2">
    <label for ="no2">No</label> <br>
    <input type="radio" id="N/A_1">
    <label for="N/A_1">N/A</label>
    <br>

    <p>If your student(s) need is medical in nature, have you contacted Kristina Hyde at 720-561-5571 or kristina.hyde@bvsd.org or Maggie Salgado at 720-561-5474 or maggie.salgado@bvsd.org with the BVSD Medicaid Health Program? *</p>
    <input type="radio" id="yes3">
    <label for="yes3">Yes</label> <br>
    <input type="radio" id="no3">
    <label for ="no3">No</label> <br>
    <input type="radio" id="N/A_2">
    <label for="N/A_2">N/A</label>
    <br>
    <p>If your student(s) need involves internet access, technology or computers, have you contacted BVSD IT for assistance? *</p>
    <input type="radio" id="yes4">
    <label for="yes4">Yes</label> <br>
    <input type="radio" id="no4">
    <label for ="no4">No</label> <br>
    <input type="radio" id="N/A_3">
    <label for="N/A_3">N/A</label>
    <br>

    <p>What area of academic need does your request involve?</p>
    <input type="radio" id ="fees">
    <label for="fees">Class Fees </label> <br>
    <input type="radio" id ="technology">
    <label for="technology">Technology </label> <br>
    <input type="radio" id ="supplies">
    <label for="supplies">Supplies</label> <br>
    <input type="radio" id ="transportation">
    <label for="transportation">Transportation expenses </label> <br>
    <input type="radio" id ="music">
    <label for="music">Music instrument rentals/repair </label> <br>
    <input type="radio" id ="materials">
    <label for="materials">Classroom materials or curriculum </label> <br>
    <input type="radio" id ="support">
    <label for="support">Academic support</label> <br>
    <input type="radio" id="other2">
    <label for="other2">Other: </label>
    <br>
    <label for="who_needs_assistance">Who needs the assistance you are requesting (no student names please)? *</label>
    <input type="text" id="who_needs_assistance">
    <br>
    <label for="req_funding">What are you requesting funding for? Please be as specific as you can, and if you need to upload any documentation, please do so. If a purchase is being made, please include a link to the item being purchased. *</label>
    <input type="text" id="req_funding">
    <br>
    <label for="req_addressing">What is the need your request is addressing? Why is the funding needed? *</label>
    <input type="text" id="req_addressing">
    <br>
    <label for="funding_amount">How much funding are you requesting? *</label>
    <input type="text" id="funding_amount">
    <br>
    <label for="student_amount">Approximately how many students does your request impact? *</label>
    <input type="text" id="student_amount">
    <br>
    <p>Do you agree to provide quantitative, qualitative, and/or anecdotal post-data should your Academic Opportunity Fund request be approved? *</p>
    <input type="radio" id="yes5">
    <label for="yes5">Yes</label> <br>
    <input type="radio" id="no5">
    <label for ="no5">No</label>
    <h3>Thank You!</h3>
    <input type="submit" value="Submit">
</div>

</body>
</html>