<!--views.ScholarshipApplicationDetailView uses this template-->

{% extends "applicant/base_application_detail.html" %}

{% load static %}

{% block extra_fields %}
    High School: {{ application.high_school }}
    <br>
    Transcript:
    <br>
    <!--TODO (high priority): When adding CSS, replace height and width with something better
         (e.g. adjust to screen size)-->
    {% include "pdf_embed_snippet.html" with pdf_url=application.transcript.url height="500px" width="500px" %}
    <br>
    Statement:
    <br>
    <iframe src="{{ application.statement.url }}" height="500px" width="500px">
        We couldn't display the file. Try <a href="{{ application.statement.url }}">this link</a>.
    </iframe>
    <br>
    Recommendation letter 1:
    <br>
    <iframe src="{{ application.recommendation_letter_1.url }}" height="500px" width="500px">
        We couldn't display the file. Try <a href="{{ application.recommendation_letter_1.url }}">this link</a>.
    </iframe>
    <br>
    Recommendation letter 2:
    <br>
    <iframe src="{{ application.recommendation_letter_2.url }}" height="500px" width="500px">
        We couldn't display the file. Try <a href="{{ application.recommendation_letter_2.url }}">this link</a>.
    </iframe>
    <br>
{% endblock %}
