<!--views.ScholarshipApplicationDetailView uses this template-->

{% extends "applicant/base_application_detail.html" %}

{% load static %}

{% block extra_fields %}
    High School: {{ application.high_school }}
    <br>
    Transcript:
    <br>
    <!--TODO (high priority): When adding CSS, replace height and width with something better
         (e.g. adjust to screen size)-->
    {% include "pdf_embed_snippet.html" with pdf_url=application.transcript.url height="500px" width="500px" %}
    <br>
    Statement:
    <br>
    {% include "pdf_embed_snippet.html" with pdf_url=application.statement.url height="500px" width="500px" %}
    <br>
    Recommendation letter 1:
    <br>
    {% include "pdf_embed_snippet.html" with pdf_url=application.recommendation_letter_1.url height="500px" width="500px" %}
    <br>
    Recommendation letter 2:
    <br>
    {% include "pdf_embed_snippet.html" with pdf_url=application.recommendation_letter_2.url height="500px" width="500px" %}
    <br>
{% endblock %}
