<!--ScholarshipApplicationCreateView and ScholarshipApplicationUpdateView use this template-->

{% extends "applicant/base_application_form.html" %}

<!--TODO (high priority): Uncomment this and make it work with the template-->
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<h1> Scholarship Application </h1>
<form method="POST" action={% url "student:submit_application" %}>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="save" value="Submit">
</form>
<h4> Remember to also email your recommendation letters to (TODO: get email) </h4>
</body>
</html>
-->