{% load static %}

<!--Things to add:
 //menu bar, banner, logo, dropdown/nav menu/bar, header
    //css
    base - This page
        - base - (logged in) - profile - logout, change pass
            base - student
            base - admin
            base - volunteer

 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href={% static "style.css" %}>
    <title>{% block title %}Impact On Education{% endblock %}</title>
</head>
<body>

<div id="nav">
    {% block nav %} {% endblock %}
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>

</body>
</html>
