<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Application ID: {{ application.pk }}
{% block extra_fields %}{% endblock %}
<br>
<h2>Are you sure you want to submit the application?</h2>
<form method="POST" action={% block submit_app_url %}{% endblock %}>
    {% csrf_token %}
    <input type="hidden" name="pk" value={{ application.pk }}>
    <button type="submit">Yes, submit now</button>
</form>
<form action={% block view_apps_url %}{% endblock %}>
    {% csrf_token %}
    <button type="submit">No, go back to applications list</button>
</form>
</body>
</html>
