<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Applications{% endblock %}</title>
</head>
<body>
{% if not applications.exists %}
    <h2>You don't have any applications yet.</h2>
{% endif %}

{% block new_app_link %}{% endblock %}

{% for application in applications %}
    ID: {{ application.pk }}
    <br>
    {% block extra_fields %}{% endblock %}
    <br>
    {% if application.submitted %}
        <strong>[SUBMITTED]</strong>
        <br>
    {% else %}
        <a href={% block edit_app_url %}{% endblock %}>[Edit]</a>
        <a href={% block delete_app_url %}{% endblock %}>[Delete]</a>
        <a href={% block confirm_submit_url %}{% endblock %}>[Submit]</a>
    {% endif %}
    <br><br>
{% endfor %}
<br>

</body>
</html>
