<!--VARIABLES:
form - The form for editing the application. A ModelForm.
  form.as_p - Put this inside a <form> tag to display the form.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Application</title>
</head>
<body>
<form method="post" enctype="multipart/form-data" action={% block add_field_url %}{% endblock %}>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" value="{{ form.num_text_fields }}" name="num_text_fields">
    <input type="hidden" value="{{ form.instance.pk }}" name="app_pk">
    <button type="submit">Add Field</button>
</form>
</body>
</html>
